@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard), var(--font-pixel), sans-serif;
}

.toaster {
  font-family: var(--font-pretendard), sans-serif;
}
