@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Todo 필요한 컬러값으로 세팅 */
  --primary-color: #ff9f90;
  --primary-color-10: #f78a7c;
  --primary-color-20: #ed7468;
  --primary-color-30: #e35e54;
  --primary-color-40: #d94641;
  --primary-color-50: #c63232;
  --primary-color-60: #ad2626;
  --primary-color-70: #941a1b;
  --primary-color-80: #7c0c10;
  --primary-color-90: #650000;

  --secondary-color: #9b59b6;
  --secondary-color-10: #a566c1;
  --secondary-color-20: #b274cd;
  --secondary-color-30: #bc82d8;
  --secondary-color-40: #c48fe2;
  --secondary-color-50: #d19ced;
  --secondary-color-60: #dba9f7;
  --secondary-color-70: #e5b6ff;
  --secondary-color-80: #f0c3ff;
  --secondary-color-90: #fbd0ff;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}
